
*{margin: 0; padding: 0; box-sizing: border-box;}


form {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 6rem !important;
  padding: 4px;
  background-color: #F7F6F2;
  filter: drop-shadow(2px 2px 2px #333);
}

.form_heading {
  display: flex;
  margin-right: 32rem !important;
}
h4 {
  color: gray;
}

input {
  width: 40vw !important;
  height: auto !important;
  position: relative;
}

span{
  position: relative;
  top: -2rem;
  float: right;
}

.col-form-label, #optional{
  background-color: #E6E6E6;
  font-size: 1.2rem !important;
  font-weight: 600;
  width: 15vw !important;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#optional {
  visibility: hidden;
}
.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  filter: drop-shadow(2px 2px 2px #3636);
}


/* input[type="submit"] {
  background-color: #4B6587;
  color: #fff;
} */
